<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <title>搜索结果</title>
</head>
<body>
<!--页面头部分-->
<nav th:replace="_fragments :: nav(1)"></nav>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
  <div class="ui container">
    <!--header-->
    <div class="ui top attached segment">
      <div class="ui middle aligned two column grid">
        <div class="column">
          <h3 class="ui teal header">搜索结果</h3>
        </div>
        <div class="right aligned column">
          共 <h5 class="ui header m-inline-block m-text-thin" th:text="${page.totalElements}"> 5 </h5> 个
        </div>
      </div>
    </div>

    <div class="ui top attached teal segment">
      <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
        <div class="ui middle aligned mobile reversed stackable grid" >
          <div class="eleven wide column">
            <h3 class="ui header"><a href="#" class="m-black" th:text="${blog.title}" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">标题</a></h3>
            <p class="m-text" th:text="|${blog.description}......|">博客描述</p>
            <div class="ui grid">
              <div class="eleven wide column">
                <div class="ui mini horizontal link list">
                  <div class="item">
                    <img src="https://picsum.photos/id/0/120/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" th:href="@{/about}" class="header" th:text="${blog.user.nickname}">lazystar</a></div>
                  </div>
                  <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">发表时间</span>
                  </div>
                  <div class="item">
                    <i class="eye icon"></i> &nbsp;<span th:text="${blog.view}">访问数</span>
                  </div>
                </div>
              </div>
              <!--给多一点 right aligned靠右-->
              <div class="right aligned five wide column">
                <!--m-padding-mini控制大小？-->
                <a href="#" class="ui teal basic label m-padding-tiny m-text-thin" th:text="${blog.type.name}">文章类别</a>
              </div>
            </div>
          </div>

          <div class="five wide column">
            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
              <img src="https://picsum.photos/800/450?" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--分页-->
    <div class="ui bottom attached segment">
      <div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
        <div class="column">
          <a href="#" class="ui teal mini basic button" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
        </div>
        <!--靠右，自定义不换行m-inline-block-->
        <div class="right aligned column">
          <a href="#" class="ui teal mini basic button" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--竖直工具按钮组，文章目录和回到最顶部-->
<!--外层加上div控制不要紧贴右边-->
<div id="toolbar" class="m-padding m-fix m-right-bottom" style="display: none">
  <!--m-fix m-right-bottom指定绝对位置,浮在最上面-->
  <div class="ui vertical icon buttons">
    <div id="button-toTop" class="ui icon button"><i class="angle up icon"></i></div>
  </div>
</div>

<!--底部 segment片段 vertical垂直-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity-mini">
  <!--所有格子的内容居中-->
  <div class="ui center aligned container">
    <!--格子 grid是分为十六份 bootstrap是分为十二份-->
    <!--divided分割线-->
    <div class="ui inverted divided stackable grid">
      <!--配置占用多少格子-->
      <div class="three wide column">
        <!--套一个保持格式-->
        <div class="ui inverted link list">
          <div class="item">
            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
          </div>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">我的博客已运营</h4>
        <p id="run_time" class="item m-text-thin"></p>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">QQ:1135498328</a>
          <a href="#" class="item">Email:1135498328@qq.com</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、用于存放近期的编程、学习、生活等内容，欢迎大家交流学习！</p>
      </div>
    </div>
    <!--分割线-->
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">粤ICP备2020139967号-1</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
  // 通过jquery在移动端显示和隐藏导航栏
  $(".menu.toggle").click(function (){
    $(".m-item").toggleClass("m-mobile-hide");
  });

  $('.ui.dropdown')
          .dropdown();

  //关闭消息
  $('.message .close')
          .on('click', function () {
            $(this)
                    .closest('.message')
                    .transition('fade');
          });

  // 运行时间统计
  function secondToDate(second) {
    if (!second) {
      return 0;
    }
    var time = new Array(0, 0, 0, 0, 0);
    if (second >= 365 * 24 * 3600) {
      time[0] = parseInt(second / (365 * 24 * 3600));
      second %= 365 * 24 * 3600;
    }
    if (second >= 24 * 3600) {
      time[1] = parseInt(second / (24 * 3600));
      second %= 24 * 3600;
    }
    if (second >= 3600) {
      time[2] = parseInt(second / 3600);
      second %= 3600;
    }
    if (second >= 60) {
      time[3] = parseInt(second / 60);
      second %= 60;
    }
    if (second > 0) {
      time[4] = second;
    }
    return time;
  }
  function setTime() {
    /*此处为网站的创建时间*/
    var create_time = Math.round(new Date(Date.UTC(2021, 1, 6, 0, 0, 0)).getTime() / 1000);
    var timestamp = Math.round((new Date().getTime()) / 1000);
    currentTime = secondToDate((timestamp - create_time));
    currentTimeHtml = currentTime[1] + '天' + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4] + '秒';
    $("#run_time")[0].innerHTML = currentTimeHtml;
  }
  setInterval(setTime, 1000);

</script>
</body>
</html>